:root{
  --corPrimaria: rgb(36, 187, 94);
  --corSecundaria: rgb(115, 150, 255);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(115, 150, 255), rgb(239, 187, 230), rgb(36, 187, 94));
}

a, li, ul{
  cursor: pointer;
}